.carousal_container {
  max-width: 98%;
}

 .slick-list {
  height: 26rem !important;
}
 .slick-prev:before {
  content: "←";
}
 .slick-next:before {
  content: "→";
}
 .image {
  width: 15rem;
  height: 15.5rem;
  background-color: white;
}
 .image img {
  width: 100%;
}
.person-1 
{
  display: flex;
  align-items: flex-start;
}


 .student_box div {
  width: 15rem;
  display: grid;
  justify-content: center;
  margin: 0 auto;
}
 .student_box div div {
  margin: 0.2rem 0rem;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}
 .img-data {
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
  width: 100% !important;
}
.img-data-r
{
  font-size: 1.2rem !important;
  font-weight: 500;
  margin-top: 1rem;
  width: 102% !important;
}
 .nextArr,  .prevArr {
  width: 5rem;
  height: 5rem;
  margin: -0.5rem;
  display: none;
}
 #leftBtnRemove,  #rightBtnRemove {
  display: none;
}
 .name strong {
  font-weight: 700;
  color: #000222;
}
 .slick-dots {
  margin: -1rem 0 !important;
}

.ourStudentsTitle {
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat";
  font-weight: 800;
  margin: 8rem auto 3rem;
}

#carouselExampleLightSingle
{
  display: none;
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .carousal_container {
    width: 58rem;
    height: 35rem;
    margin: 3rem auto;
  }
   .image {
    height: 15.5rem;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .carousal_container {
    width: 50rem;
    height: 34rem;
    margin: 3rem auto;
    font-size: 1.3rem;
  }
   .slick-dots {
    margin: -1rem 0 !important;
  }
   .student_box div {
    width: 13rem;
    display: grid;
    justify-content: center;
  }
   .image {
    height: 13.5rem;
    background-color: white;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  #carouselExampleLight
  {
    display: none;
  }
  #carouselExampleLightSingle
  {
    display: block;
  }
  .carousal_container {
    width: 55rem;
    height: 31rem;
    margin: 0 auto;
  }
   .image {
    height: 15.5rem;
  }
   .student_box div div {
    margin: 0.5rem 0;
  }
   .nextArr,  .prevArr {
    width: 5rem;
    height: 5rem;
    margin: -0.5rem -0.5rem;
    display: block;
  }
   #leftBtnRemove,  #rightBtnRemove {
    display: block;
    z-index: 1;
  }
   .slick-arrow.slick-next {
    right: 14rem;
  }
   .slick-arrow.slick-prev {
    left: 14rem;
  }
   .slick-dots {
    margin: 2rem 0;
  }.meet {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  #carouselExampleLight
  {
    display: none;
  }
  #carouselExampleLightSingle
  {
    display: block;
  }
  .carousal_container {
    width: 35rem;
    height: 30rem;
    margin: 6rem auto;
    margin-bottom: 10rem;
  }
   .slick-dots {
    margin: 0 !important;
  }
   .slick-list {
    height: 35rem !important;
  }
   .student_box {
    margin-left: 0;
  }
   .nextArr,  .prevArr {
    width: 5rem;
    height: 5rem;
    margin: -0.5rem -0.5rem;
    display: block;
  }
   #leftBtnRemove,  #rightBtnRemove {
    display: block;
  }
   .image {
    /* height: 364px; */
    width: 360px;
  }
   .img-data {
    height: 5rem !important;
  }
   .student_box {
    width: 100%;
    display: inline-block;
  }
   .student_box div div {
    margin: 0.5rem 0;
  }
   .slick-slide .slick-active .slick-current {
    width: 629px;
  }
   .student_box div {
    width: 15rem;
    /* height: 32.5rem; */
    display: flex;
    flex-direction: column;
  }
   #leftBtnRemove,  #rightBtnRemove {
    margin-top: -6rem;
  }
  .carousel_div {
    grid-template-columns: 1fr;
    width: 58%;
  }
  .arrow {
    height: 1rem;
    width: 1rem;
  }
  .arrow img {
    width: 3rem;
    margin-left: -1.5rem;
    margin-top: -1.7rem;
  }
}
 .slick-list {
  height: 30rem;
}

.student-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.students-indicators
{
  bottom: -20% !important;
  margin-bottom: 2rem !important;
}

.meet
{
  font-size: 2rem;
  margin: 3rem auto 2rem;
  text-align: center;
  font-weight: 800;
}

button [data-bs-target="#carouselExampleDark"] {
  border: none;
  
}