.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}


.resume-subtitle
{
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.project1{
  width: 100%;
  height: 100%;
  margin: 2rem auto;
}

.project1 img
{
  border: 1px solid;
width: 100%;
/* height: 24rem; */
}

.project1 p
{
font-weight: bold;
font-size: 1.3rem;
}

.modal-body
{
border: none !important;
margin: 0 !important;
padding: 0 !important;
}

.modal-body img
{
height: 100%;
width: 100%;
}

.modal-backdrop.show
{
  width: 100%;
  height: 100%;
}

.project1 .modal
{
  padding-right: 0 !important;
}







@media (max-width: 480px) and (min-width: 320px) {

  .projects
  {
    grid-template-columns: repeat(1,1fr);
    margin-top: 0rem;
  }
  .project1 p 
  {
    font-size: 1rem !important;
  }
  
  .resume-subtitle
  {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .project1 img 
  {
    height: 100%;
  }
  .project1
  {
    width: 85%;
    height: 100%;
  }
  .project1 .modal
  {
    padding: 10rem !important;
  }
  .projects {
    gap: 0rem;
    padding-bottom: 0rem;
  }
  .project1 {
    margin: 1rem auto;
  }

}




  @media (min-width: 481px) and (max-width: 768px) {
    .projects
  {
    grid-template-columns: repeat(1,1fr);
    margin-top: 4rem;
  }
  .project1 p 
  {
    font-size: 2rem !important;
  }
  
    .resume-subtitle
    {
        font-size: 2.5rem;
        font-weight: 700;
    }
.project1 img 
{
  height: 100%;
}
.project1
{
  width: 85%;
  height: 100%;
}
.project1 .modal
    {
      padding: 10rem !important;
    }
  }

