.technologies-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.technologies-grid div
{
    height: 15rem;
    border-radius: 10px;
    background-color: #00e9b4;
}

.technologies-grid p
{
    text-align: center;
    padding-top: 0.8rem;
    font-weight: 700;
    font-style: 1.3rem;
}

.technologies-grid img
{
    height: 12rem;
    padding: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}


@media (min-width: 320px) and (max-width: 480px) {
    .technologies-grid img {
        height: 3rem;
        padding: 0.5rem;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
    }
    .technologies-grid div {
        height: 5rem;
        border-radius: 10px;
        background-color: #00e9b4;
    }
    .technologies-grid p {
        font-size: 0.5rem;
    }
    .technologies-grid {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0rem;
    }
}