.hiringHeading {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #000043;
  margin: 3rem 0;
}

.hiringIconGridDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  margin: auto;
}
.hiringIconGridDiv .hiringIcon {
  width: 75%;
}

.hiringScore {
  font-size: 1.5rem;
  font-weight: 800;
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
  margin: 2rem auto 8rem;
  border-radius: 0.2rem;
  background-color: #00e9b4;
}

@media (max-width: 768px) and (min-width: 481px) {
  .hiringHeading {
    font-size: 4rem;
  }
  .hiringIconGridDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .hiringIconGridDiv .hiringIcon {
    width: 100%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .hiringHeading {
    font-size: 5.5rem;
  }
  .hiringIconGridDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .hiringIconGridDiv .hiringIcon {
    width: 100%;
  }
}